/*
CSS support for Markdown
*/

img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

pre+p em,
    /* Caption for pieces of code into Markdown, here is how I can use:

    ```js
    Code goes here
    ```
    *Caption goes here*
    */
img+em {
    /* Caption for pictures as well into Markdown, here is how I can use:

    ![Alternative text for image](https://blog-qbreis.vercel.app/images/logo-github.svg)
    *Caption goes here*
    */
    display: block;
    text-align: center;
    color: rgba(76, 86, 106, .8);
    margin: 0.5em 0;
}

h1+p em {
    /* Lead format after h1 into Markdown, here is how I can use:

    # Hola World!
    *Lead content goes here*
    */
    font-style: normal;
    font-size: 1.5em;
}

blockquote {
    padding: .1em 1em;
    background-color: rgba(0, 0, 0, .05);
    border-left: 5px solid rgba(0, 0, 0, .1);
    font-size: .9em;
    color: rgba(76, 86, 106, .8);
}


/*
Normalize a bit
*/

body {
    font-size: 16px;
    line-height: 1.5em;
    margin: 1em;
}

code {
    background-color: #f1f1f1;
    color: #ff3860;
}

/*
highlightjs
*/

pre code.hljs {
    padding: 1em;
    display: inline-block;
    width: calc(100% - 2em);
    font-size: 1.2em;
}

pre code.hljs .loc {
    width: 100%;
    display: inline-block;
}

.highlighted {
    display: inline-block;
    width: 100%;
    background-color: rgba(255, 255, 255, .2);
    margin-left: -1em;
    width: calc(100% + 1em) !important;
    padding-left: 1em;
    /* So I can select with the mouse pointer comfortably over highlighted pieces of code */
    pointer-events: none;
}

/* Selects a div with class "loc" only if it is empty, yes, I can do that */
.loc:empty {
    /* My own styles for empty .loc divs inside .hljs blocks of code */
    display: none !important;
}